*,*::before,*::after{
    margin: 0;padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Dancing Script', cursive !important;
    background: rgba(211, 134, 34, 0.651) !important;
}
figure{
    width: 30%;
    height: 300px;
    position: relative;
    margin: 150px 35% !important;
    border: 5px solid rgb(168, 104, 21);
}
figure>img{
    width: 100%;
    height: 100%;
}
figure::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    background: rgba(0, 0, 0, 0);
    transition: 1.5s;
}
figure:hover::before{
    background: rgba(0, 0, 0, 0.527);
}
figure>p{
    width: 45%;
    height: 55px;
    background: rgb(199, 22, 81);
    color: rgb(13, 83, 19);
    position: absolute;
    top: 8%;
    right: 3%;
    text-align: center;
    line-height: 55px;
    border-radius: 15px/20px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
    transition: 1s;
}
figure>ul{
    width: 30%;
    height: 35px;
    background: rgba(196, 24, 182, 0.479);
    color: rgb(32, 218, 162);
    position: absolute;
    top: 13%;
    right: 10%;
    transition: 1s;
    border-radius: 10px/15px;
}
figure>ul>li{
    list-style-type: none;
    position: absolute;
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: -20px;
    line-height: 40px;
    transition: 1.1s;
    transition-delay: .7s;
    
}
figure>ul>li:nth-of-type(1){
    left: 0;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0,3,.98,-0.71);
}
figure>ul>li:nth-of-type(2){
    left: 35%;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0,3,.98,-0.71);
}
figure>ul>li:nth-of-type(3){
    left: 70%;
    transition-duration: 2.5s;
    transition-timing-function: cubic-bezier(0,3,.98,-0.71);
}
figure>p:hover{
    background: rgba(126, 33, 129, 0.986);
    color: rgb(82, 216, 48);
}
figure>p:hover ~ ul{
    top: 70px;
}
figure>p:hover ~ ul>li{
    margin-top: 0;
}